 <!-- <div class="loading-map d-flex justify-content-center align-items-center">
    <div class="text-center">
        <span>Localizando...</span>
    </div>
 </div> -->

 <div class="loading-map justify-content-center align-items-center" style="margin: 10px;">
    <div class="text-center">
        <button class="btn btn-white " type="button" disabled>
            <h3>Espere por favor</h3>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only" style="padding: 10px;">Localizando...</span>
          </button>
    </div>
 </div>
 
